@font-face {
  font-family: "circularBold";
  font-weight: 700;
  src: url("fonts/CircularStd-Bold.ttf"),
       url("fonts/CircularStd-Bold.woff"),
       url("fonts/CircularStd-Bold.woff2"),
       url("fonts/CircularStd-Bold.eot");

}

@font-face {
  font-family: "circularMedium";
  font-weight: 500;
  src: url("fonts/CircularStd-Medium.ttf"),
       url("fonts/CircularStd-Medium.woff"),
       url("fonts/CircularStd-Medium.woff2"),
       url("fonts/CircularStd-Medium.eot");
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --red: #E9362A;
  --dark-red: #D32F24;
  --light-red: #FDF9FA;
  --light-purple: #EFE6F9;
  --purple: #670BFF;
  --dark-purple: #4D05C4;
  --yellow: #F7C66C;
  --dark-yellow: #875D10;
  --green: #68D98F;
  --dark-green: #186432;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

header{
  padding: 3em 6em 0em 6em;
}

main{
  padding: 0 6em;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5em;
  height: 100vh;
}

.warning {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

.warning-icon {
  height: 20px;
  color: #333333;
}

.btns {
  display: flex;
  gap: 12px;
}
#generate-btn {
  background-color: var(--red);
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 24px;
  margin-top: 12px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

#generate-btn:hover {
  background-color: var(--dark-red);
}

#unlock-all-btn {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: var(--light-purple);
  color: var(--dark-purple);
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 700;
  padding: 12px 16px;
  margin-top: 12px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

#unlock-all-btn svg {
  height: 20px;
}

#unlock-all-btn:hover {
  background-color: var(--purple);
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
}


.logo {
  width: 200px;
  margin-bottom: 2rem;
}

.deco {
  position: absolute;
  top: 0;
  right: 0;
  width: 750px;
  z-index: -1;
}

.main-text {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 10px;
}

.title {
  font-family: "circularBold";
  font-size: 36px;
  font-weight: 900;
  margin: 0;
}

.desc {
  font-size: 20px;
  font-weight: 700;
  color: #333333;
  margin: 0;
}

.warning-text {
  font-size: 1rem;
  font-weight: 400;
  color: #333333;
  margin: 0px;
}

.row {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-container {
  position: relative;
  height: 80px;
  width: 100%;
}

.card {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  column-gap: 8px;

  width: 100%;
  height: 100%;

  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  background-color: white;
}

.card.new {
  animation: new 150ms ease-in-out;
}

.color {
  width: 50px;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
  position: relative;
  cursor: pointer;
}
.color::after {
  position: absolute;
  inset: 0 0 6px 0;
  margin: auto;
  height: 25px;
  width: 25px;
}

.card.unlocked .lock::after {
  opacity: 0;
}
.card.unlocked:hover .lock::after {
  opacity: 1;
}

.lock::after {
  content: url("img/lock-closed.svg");
}
.lock:hover::after {
  content: url("img/lock-open.svg");
}
.lock.diseappear::after {
  content: url("img/lock-open.svg");
  animation: unlock 300ms ease-in-out;
}

.lock.open::after {
  content: url("img/lock-open.svg");
}

.lock.open:hover::after {
  content: url("img/lock-closed.svg");
}


.card-text {
  font-size: 20px;
  font-weight: bold;
}

.back-card {
  position: absolute;
  top: -15px;
  left: 15px;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  z-index: -2;

}
.back-color {
  position: absolute;
  top: -15px;
  left: 15px;
  width: 50px;
  height: 100%;
  border-radius: 8px 0px 0px 8px;
  z-index: -1;
  filter: opacity(0.5);

}

.citation {
  border: 1px solid #E1E1E1;
  padding: 17px 32px;
  margin: 0 auto;
  text-align: center;
  line-height: 38px;
  position: relative;
  border-radius: 8px;
}

.quote {
  position: absolute;
  top: -30px;
  right: 97%;
}

.quote:nth-of-type(even) {
  position: absolute;
  top: 70%;
  left: 97%;
}

.quotation {
  white-space: nowrap;
  color: #555555;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

.tags {
  font-size: 1.25rem;
  font-weight: 900;
  padding: 6px 10px;
  color: #FFFFFF;
  border-radius: 4px;

}

.format-color {
  background-color: var(--red);
}

.theme-color{
  background-color: var(--purple);
}

.target-color {
  background-color: var(--yellow);
  color: var(--dark-yellow);
}

.technical-color {
  background-color: var(--green);
  color: var(--dark-green);
}

.love-footer {
  font-size: 0.875rem;
  font-weight: 500;
  margin: 0;
  color: #333333;
}

.linkedin-link {
  color: var(--dark-purple);
  font-weight: 700;
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 2em 6em 1em 6em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3em;
  background-color: var(--light-red);
  position: relative;
}

footer .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .title {
  font-family: "circularBold";
  font-size: 28px;
  font-weight: bold;
}

@keyframes new {
  0% {
    top: -15px;
    left: 15px;
    opacity: 0;

  }
  100% {
    top: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes unlock {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .main-text {
    margin-bottom: 0px;
  }
  .row {
    flex-direction: column;
    gap: 12px;
  }
  .card-container {
    height: 60px;
  }
  .card {
    height: 60px;
  }
  .card-text {
    font-size: 16px;
  }
  .citation {
    padding: 12px 24px;
    line-height: 28px;
  }
  .quotation {
    font-size: 16px;
  }
  .quote {
    top: -20px;
    right: 95%;
  }
  .quote:nth-of-type(even) {
    top: 60%;
    left: 95%;
  }
  footer {
    padding: 1em 3em 1em 3em;
  }
  footer .title {
    font-size: 24px;
  }
}
